*{
    margin: 0;
    padding: 0;
}
/* banner */
h1{
    font-size: 50px;
    background-color: blueviolet;
    margin-top: -40px;
}

.banner {
    height: 100vh;
    background-position: center;
    background-image: url(/img/8th\ service.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 14%;
}


.banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: whitesmoke;
}

/* text heading */
.heading{
    font-size: 30px;
    color: rgb(16, 9, 208);
    font-weight: 600;
}


/* footer */
.footer {
    width: 90%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #49497e;
    text-align: center;
    overflow: hidden;
    margin-top: 80px;
}


.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;

}